ion-item::part(native) {
  padding-inline-start: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.validSend {
  color: #0051ffa6;
  font-weight: 600;
}

.novalidSend {
  color: #909091;
  ion-icon {
    color: #d4dbe1;
  }
}

/* ************************** */

.textSlide {
  color: #666666;
  transition: 0.3s linear all;
  opacity: 1;
  position: absolute;
}

.text-title {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}

.text-inf {
  text-align: center;
  font-size: 13px;
  margin: 0 25px;
  color: #999999;
}

.textSlideNone {
  opacity: 0;
}

.item-input {
  --background: transparent;
  padding: 0px 0;
  border: 2px solid #e1e1e1b8;
  border-radius: 5px;

  ion-label {
    flex: 0 0 100px;
    min-width: 40px;
    max-width: 40px;
    text-align: center;
    ion-icon {
      font-size: 16px;
      color: #c3c3c3;
      transform: translateY(2px);
    }
  }

  ion-input {
    color: var(--black-400);
    font-size: 13px;
  }
}

.btn-3 {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #da5d67,
    #d75a64,
    #d45861,
    #d1555f,
    #ce525c,
    #cc5059,
    #c94d57,
    #c74b54,
    #c44951,
    #c1464f,
    #bf444c,
    #bc414a
  );
  padding: 15px 70px;
  border: none;
  border-radius: 30px;
  color: #ffffffdc;
  font-size: 13px;
  box-shadow: var(--shadow-black-200);
  font-weight: 500;

  /*   text-decoration: none;
  background: linear-gradient(90deg, #450c9c 10%, #450c9c 100%);
  padding: 14px 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 10px;
  box-shadow: 0 2px 40px rgb(0 0 0 / 25%);
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0.4px; */

  ion-icon {
    font-size: 16px;
    transform: translateY(5px);
    margin-right: 3px;
    margin-top: -8px;
  }
}

.btn-3:hover {
  color: #fff;
  text-decoration: none;
}

.btn-2 {
  display: inline-block;
  text-decoration: none;
  background: #ffffff8a;
  padding: 15px 70px;
  border-radius: 30px;
  border: 1px solid #959595c7;
  font-size: 12px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
  font-weight: 600;
  color: #484848eb;
}

.btn-2:hover {
  text-decoration: none;
  color: #0052ffad;
}

.check-terms {
  --background: transparent;
  ion-label {
    font-size: 12px !important;
    color: #787777 !important;
    a {
      color: #787777;
      text-decoration: underline;
      font-weight: 700;
    }
  }
  ion-checkbox {
    margin-right: 12px;
    --background-checked: var(--tertiary);
    --border-color-checked: var(--tertiary);
    --border-color: #d3d3d3;
  }
}

.btn-disable {
  background: linear-gradient(90deg, #e3c9c9 10%, #e3b5b5 100%);
  color: #fff;
  box-shadow: var(--shadow-black-100);
  font-weight: 500;
}
