ion-item {
  --background: transparent;
  color: #fff;

  p {
    margin: 0;
    font-size: 12px;
    color: #949494;
  }
}

ion-label {
  font-size: 14px !important;
  color: var(--black-400) !important;
}

ion-list {
  --ion-background-color: #fff;
}



.album-info {
  color: #fff;
  margin-left: 11px;

  p {
    font-weight: bold;
  }
}

.image-box {
  /* position: fixed; */
  z-index: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}

ion-row {
/*   padding-top: 58vh; */
}

ion-content {
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  --background: linear-gradient(var(--custombg) 200px, #fff 200px);
}

.main {
  z-index: 10;
  /*   background: linear-gradient(var(--custombg) 30%, #fff 40%); */

  min-height: 600px;
}

ion-label {
  font-size: 14px !important;
  color: var(--black-400) !important;
}

.button-03 {
  text-transform: capitalize;
  --background: #fff;
  color: var(--main-color);
  --border-radius: 12px;
  font-size: 11px;
  display: inline-block;
  margin: 5px;
  padding: 0 2px !important;

}

.button-02 {
  text-transform: capitalize;
  --background: var(--main-color);
  color: #fff;
  --border-radius: 12px;
  font-size: 11px;
  display: inline-block;
  margin: 5px;
  padding: 0 2px !important;

}




.btn-2 {
  text-decoration: none;
  background: #fff;
  padding: 10px 26px;
  border: 1px solid #625deb6e ;
  border-radius: 30px;
  color:  #625debdc ;
  font-size: 11px;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
}

.btn-3{
  text-decoration: none;
    background: linear-gradient(
90deg
, var(--secondary-color) 10%, #6770e0 100%);
    padding: 10px 26px;
    border-radius: 30px;
    color: #fff;
    font-size: 11px;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}

