<app-header [title]="'Módulo de QRs'"></app-header>

<ion-content class="content-table">

  <!-- Cabecera y botones de acción -->
  <div class="row content-header">
    <div class="col-6">
      <p class="title-header">Listado de QRs
      </p>
    </div>
    <!-- Content buttons -->
    <div class="col-6 content-buttons">
      <a href="javascript:void(0)" class="btn-3" (click)="selectScreen()">
        <ion-icon name="add-circle"></ion-icon> Crear QR
      </a>
    </div>
  </div>

  <ion-card class="card-table">
    <!--     <ion-segment (ionChange)="segmentChanged($event)" style="max-width: 500px;margin-bottom: 25px;" mode="md"
      [value]="_env.TABLE_SIS.producer">

      <ion-segment-button [value]="_env.TABLE_SIS.producer">
        <ion-label style="text-transform: capitalize;">Proveedores</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="_env.TABLE_SIS.employee">
        <ion-label style="text-transform: capitalize;">Empleados</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="_env.TABLE_SIS.customer">
        <ion-label style="text-transform: capitalize;">Compradores</ion-label>
      </ion-segment-button>

    </ion-segment> -->

    <p class="text-filter">Filtro de registros</p>
    <div class="row">

      <div class="col-4">
        <input class="form-control" [ngModel]="nameFilter" (ngModelChange)="changeInput($event,0,'input')"
          placeholder="Buscar">
      </div>

      <div class="col-6 checkbox-filer">
        <ion-checkbox slot="start" (ionChange)="changeInput($event,1,'checkbox')" color="tertiary">
        </ion-checkbox>
        <label>Ver desactivados</label>
      </div>
    </div>

    <div class="table-responsive table-style">
      <table class="table">
        <thead>
          <tr>
            <th (click)="orderByTable(item.key)" *ngFor="let item of thead"
              [ngClass]="orderBy.key==item.key?'select-col-order' :''">{{item.name}} <ion-icon
                [name]="orderBy.key==item.key?(orderBy.order? 'arrow-down':'arrow-up' ) :'swap-vertical'"
                class="icon-filter"></ion-icon>
            </th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="list.length <= 0 && load">
            <td colspan="6">
              <div class="alert alert-secondary" role="alert">
                <span><i class="fa fa-spinner fa-pulse"></i>
                  Cargando registros...
                </span>
              </div>

            </td>
          </tr>


          <tr *ngFor="let a of pageOfItems">

            <td>{{a.data.dataView.objective_cert}}</td>
            <td>{{a.data.dataView.buyer}}</td>
            <td>{{a.data.dataView.origin}}</td>
            <td>{{a.data.dataView.destination}}</td>

            <td style="text-transform: capitalize;">{{a.data.dataView.f_emision*1000 | date:'MMM d, y'}}</td>
            <td style="text-transform: capitalize;">{{a.data.dataView.f_vencimineto*1000 | date:'MMM d, y'}}</td>

            <td>
              <ion-badge class="status" [ngClass]="a.status?'enabled' :'disabled'">
                {{a.status?'Activo':'Desactivo'}}
              </ion-badge>
            </td>


            <td>
              <div class="dropdown">
                <div class="dropbtn">
                  <ion-button class="button-01">
                    <ion-icon name="settings-outline" class="icon-01">
                    </ion-icon> <br>
                  </ion-button>
                </div>

                <div class="dropdown-content">
                  <a href="javascript:void(0)" (click)="verQR(a)">
                    <ion-icon name="qr-code-outline"
                      style="font-size: 18px;margin-right: 3px;color: var(--main-color);"></ion-icon> Ver QR
                  </a>

                  <a href="javascript:void(0)" (click)="verDemo(a)">
                    <ion-icon name="create-outline" class="icon-01"> </ion-icon> Ver demo
                  </a>

                  <a href="javascript:void(0)" (click)="editCred(a)">
                    <ion-icon name="create-outline" class="icon-01"> </ion-icon> Editar
                  </a>

                  <a href="javascript:void(0)" (click)="delete(a)" class="option-division">
                    <ion-icon name="trash-outline" class="icon-01">
                    </ion-icon> Eliminar
                  </a>

                </div>
              </div>
            </td>

          </tr>


          <tr *ngIf="list.length <= 0 && !load">
            <td colspan="5">No se encontraron registros.</td>
          </tr>

        </tbody>

      </table>
      <jw-pagination [items]="list" [pageSize]="20" (changePage)="onChangePage($event)">
      </jw-pagination>
    </div>
  </ion-card>

</ion-content>