<div class="box">
  <div class="percent">
    <svg >
      <circle cx="70" cy="70" r="40"></circle>
      <circle cx="70" cy="70" r="40"  #por></circle>
    </svg>
    <div class="num">
      <div>
        <h2 style="margin-top: 0;font-size: 24px;">{{porcent |number: '1.0-0'}}<span style="font-size: 15px;">%</span></h2>
        <p style="margin: 0;
        margin-top: -13px;
        font-size: 10px;">Agregado</p>
      </div>
  
    </div>
  </div>
 <!--  <h2 class="text">Progreso de partida <br><b>{{sku}}</b> </h2> -->
</div>

