.sidebar {
    opacity: 1 !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #fcfbfd;
    z-index: 100;
    transition: all 0.5s ease;
    float: left;
}
.sidebar:hover{
    opacity: 1;
}

.sidebar.close {
    opacity: 1;
    width: 78px;
}

.sidebar .logo-details {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details .icon {
    font-size: 30px;
    color: #2c2f32;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    /*cursor: pointer;*/
}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #2c2f32;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.icon_min{
    position: absolute;
    opacity: 0;
}

.sidebar.close .logo-details .icon_min {
    transition-delay: 0s;
    opacity: 1;
    pointer-events: none;
   
}


.sidebar .nav-links {
    /* height: 100%; */
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    /*     margin: 0 10px;
    margin-left: 20px; */
}

li.profile {
    margin-left: 0 !important;
}

.sidebar .nav-links li:hover {
    background: #efefef;
    border-radius: 20px;
    padding: 4px 0px;
    margin: 0 15px;

    .icon {
      /*   color: #4b4e50; */
    }
    .nav_title .link_name {
       /*  font-weight: 600; */
        color: #717374;
    }
}

.sidebar .nav-links li:hover .icon-link {
 /*    font-weight: 600; */
    color: #4b4e50;
}

.sidebar.close .nav-links li {
    margin: 0;
}

.sidebar.close .nav-links li:hover {
    background: #efefef;
    border-radius: 15px;
}

.sidebar .nav-links li .icon-link {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link.select-page ion-icon{
    min-width: 50px;
}

.sidebar .nav-links li .icon{
  /*   height: 50px; */
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #959a9e;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .icon.arrow {
    font-size: 18px;
    color: #bbbfc4c7;
}

.sidebar .nav-links li.showMenu .icon.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links .icon.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 15px;
    font-weight: 400;
    color: #959a9e;
    margin-left: -14px;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 20px;
   /*  margin-top: -10px; */
    /* background: #efefef; */
    display: none;
    border-radius: 20px;
}


.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #959a9e;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    background: #efefef; 
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    font-weight: 500;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 15px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #efefef;
    padding: 6px 0;
    width: 260px;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
    transition: all 0s ease;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #efefef;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    height: 40px;
    width: 40px;
    padding: 7px;


}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #959a9e;
    font-size: 16px;
    font-weight: 500;
  /*   white-space: nowrap; */
    white-space: normal;
}

.sidebar.close .profile-details .icon,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .name-job {
    margin-left: -20px;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .icon-menu,
.home-section .home-content .text {
    color: #fcfbfd;
    font-size: 35px;
}

.home-section .home-content .icon-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.btn-menu {
    transition: all 0.2s ease;
}

.sidebar.close .btn-menu {
    right: -65px !important;
    transform: rotate(+180deg);
}


.select-page{
     background: #efefef;
    border-radius: 20px;
    padding: 4px 0px;
    margin: 0 15px;

    .icon {
        color: #4b4e50;
    }
    .nav_title .link_name {
       /*  font-weight: 600; */
        color: #717374;
    }
}

.select-sub-page{
    font-weight: 700;
    color: #2a2b4a !important;
    ion-icon{
        color: #2a2b4a !important;  
    }
}
