<div style="    padding: 20px;padding-bottom: 250px;">
  <p style="margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #d36970e8;
  line-height: 1;
  margin-top: 10px;">Multimedia</p>
  <p style="    margin: 0;
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 500;">Certificados, fotos y videos</p>

  <ion-icon name="options-outline" style="right: 20px;
  font-size: 28px;
  position: absolute;
  top: 20px;
  color: #a9a9a9;"></ion-icon>

<div style="margin-top: 30px;">
  <div (click)="view()" style="display: inline-block;
  width: 47%;
  margin-right: 6%;position: relative;">
  <div style="position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: white;
  background: #d36970e8;
  /* border: 50px; */
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 11px;
  padding-top: 3px;">
    <ion-icon name="heart" style="    transform: translateY(1.5px);"></ion-icon> 120
  </div>

    <img src="../../../../assets/images/3-cert-prb.jpg" alt=""
    style="height: 190px;
    opacity: 0.95;
    width: 160px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgb(207 207 207 / 58%);">
    <p style="margin: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444444;">Certificado Sanitario</p>
    <p style="margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #787878;">Juan Jose Vargas <span style="font-style: italic;
    font-size: 11px;
    font-weight: 800;">2 meses</span> </p>
  </div>

  <div (click)="view()" style="display: inline-block;
  width: 47%;
  transform: translateY(60px);position: relative;">
  <div style="position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: white;
  background: #d36970e8;
  /* border: 50px; */
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 11px;
  padding-top: 3px;">
    <ion-icon name="heart" style="    transform: translateY(1.5px);"></ion-icon> 75
  </div>
    <img src="../../../../assets/images/1-ft-prb.jpg" alt=""
    style="height: 190px;
    width: 160px;
    object-fit: cover;
    border-radius: 20px;opacity: 0.95;
    box-shadow: 0 0px 8px rgb(207 207 207 / 58%);">
    <p style="margin: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444444;">Inspección tecnica</p>
    <p style="margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #787878;">Luis Lopez Tapia <span style="font-style: italic;
    font-size: 11px;
    font-weight: 800;">1 meses</span> </p>
  </div>

  <div (click)="view()" style="display: inline-block;
  width: 47%;
  margin-right: 6%;margin-top: 30px;position: relative;">

  <div style="position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: white;
  background: #d36970e8;
  /* border: 50px; */
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 11px;
  padding-top: 3px;">
    <ion-icon name="heart" style="    transform: translateY(1.5px);"></ion-icon> 28
  </div>

    <img src="../../../../assets/images/1-cert-prb.jpg" alt=""
    style="height: 190px;
    opacity: 0.95;
    width: 160px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0px 8px rgb(207 207 207 / 58%);">
    <p style="margin: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444444;">Certificado agricola</p>
    <p style="margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #787878;">Armando Gomez <span style="font-style: italic;
    font-size: 11px;
    font-weight: 800;">2 meses</span> </p>
  </div>

  <div (click)="view()" style="display: inline-block;
  width: 47%;
  transform: translateY(60px);position: relative;">
  <div style="position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: white;
  background: #d36970e8;
  /* border: 50px; */
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 11px;
  padding-top: 3px;">
    <ion-icon name="heart" style="    transform: translateY(1.5px);"></ion-icon> 80
  </div>
    <img src="../../../../assets/images/2-ft-prb.jpg" alt=""
    style="height: 190px;
    width: 160px;
    object-fit: cover;
    border-radius: 20px;opacity: 0.95;
    box-shadow: 0 0px 8px rgb(207 207 207 / 58%);">
    <p style="margin: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444444;">Control de calidad</p>
    <p style="margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #787878;">Jorge Apaza Vena<span style="font-style: italic;
    font-size: 11px;
    font-weight: 800;">1 meses</span> </p>
  </div>
</div>



</div>