<ion-content>



  <div style="    position: absolute;
right: 0;
z-index: 20;
top: 0;" (click)="closeModal()">
    <ion-icon name="close" style="    font-size: 25px;
  color: rgb(161 161 161 / 47%);
  padding: 15px;"></ion-icon>
  </div>


  <div style="padding: 15px 10px;">
    <p style="
    color: #d36970e8;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;margin-left: 5px;">Elija una imagen</p>


    <div style="display: inline-block;width: 50%;padding: 5px;" (click)="confirm('p1.jpg')">
      <div style="position: relative;height: 100px;">
        <img src="../../../assets/images/portadas/p1.jpg" alt="" style=" 
        height: 100px;
        width: 100%;
        object-fit: cover;border-radius: 3px;">
        <p style="    position: absolute;
        margin: 0;
        bottom: 0;
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 12px;
        padding: 1px 10px;
        font-style: italic;
        background-image: linear-gradient(to top, #eb656e, #e9626b, #e65f67, #e45b64, #e15861, #dd545d, #da515a, #d64d56, #d04851, #ca434c, #c53e47d1);
        opacity: 0.95;">Limón</p>
      </div>
    </div>

    <div style="display: inline-block;width: 50%;padding: 5px;" (click)="confirm('p2.jpg')">
      <div style="position: relative;height: 100px;">
        <img src="../../../assets/images/portadas/p2.jpg" alt="" style=" 
        height: 100px;
        width: 100%;
        object-fit: cover;border-radius: 3px;">
        <p style="    position: absolute;
        margin: 0;
        bottom: 0;
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 12px;
        padding: 1px 10px;
        font-style: italic;
        background-image: linear-gradient(to top, #eb656e, #e9626b, #e65f67, #e45b64, #e15861, #dd545d, #da515a, #d64d56, #d04851, #ca434c, #c53e47d1);
        opacity: 0.95;">Café</p>
      </div>
    </div>


    <div style="display: inline-block;width: 50%;padding: 5px;"  (click)="confirm('p3.jpg')">
      <div style="position: relative;height: 100px;">
        <img src="../../../assets/images/portadas/p3.jpg" alt="" style=" 
        height: 100px;
        width: 100%;
        object-fit: cover;border-radius: 3px;">
        <p style="    position: absolute;
        margin: 0;
        bottom: 0;
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 12px;
        padding: 1px 10px;
        font-style: italic;
        background-image: linear-gradient(to top, #eb656e, #e9626b, #e65f67, #e45b64, #e15861, #dd545d, #da515a, #d64d56, #d04851, #ca434c, #c53e47d1);
        opacity: 0.95;">Quinoa</p>
      </div>
    </div>


  </div>
</ion-content>