.icon-nav-arrow {
  color: #000;
  font-size: 25px;
  padding: 15px 20px;
}

.title {
  text-align: center;
  color: rgb(56, 56, 56);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.text-seg {
  font-size: 11px;
  font-weight: 600;
}

.active {
  color: #9f76cf;
}
.desabled {
  color: #aaaaaa;
}


.btn-2 {
  text-decoration: none;
  padding: 5px 12px;
  border-radius: 30px;
  color:  #ffffffdc;
  font-size: 10px;
  box-shadow: var(--shadow-black-100);
  font-weight: 600;
  background-image: linear-gradient(to right top, #eb656e, #e9626b, #e65f67, #e45b64, #e15861, #dd545d, #da515a, #d64d56, #d04851, #ca434c, #c53e47, #bf3942);

}

.btn-2:hover{
  background-image: linear-gradient(to left top, #eb656e, #e9626b, #e65f67, #e45b64, #e15861, #dd545d, #da515a, #d64d56, #d04851, #ca434c, #c53e47, #bf3942);

  color:  #ffffffdc;
}

.btn-3{
  text-decoration: none;
  background: linear-gradient(90deg, #822bff 10%, #5c66ec  100%);
  padding: 12px 30px;
  border-radius: 30px;
  color:  #fff;
  font-size: 11px;
  box-shadow: var(--shadow-black-100);
  font-weight: 500;
  padding-top: 10px;
}


.button-filter {
  display: inline-block;
  width: 25%;
/*   height: 70px; */
/*   padding: 13px 0 ; */
/*   border-radius: 6px; */
 /*  border: 2px solid #d3d3d3; */
 padding: 2px 0;
  background: white;
  color:  #9b9b9b;
  font-size: 20px;
  transition: .2s;
  text-transform: capitalize;
  font-size: 24px;
}


.select{
/*   width: 48%; */
/*   font-size: 25px; */
/*   border-radius:  8px ; */
/*   border: none; */
 /*  background: rgba(92, 108, 236, 1); */
/*   color:  #F7F8FB; */
/*   box-shadow: var(--shadow-black-300); */
/*   transform: scale(1.2) ; */
  color: #2cc5bb;
  transition: .2s;
  font-weight: 600;
 
}


.search {
  --background: #ffffff;
  --text-color: #414856;
  --border-radius: 9px;
  /* --width: 200px;   */  
  --height: 35px;      
  background: var(--background);
  width: 100%;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(#414856, .05);


  align-items: center;
  input[type="text"] {
    position: relative;
  /*   width: var(--height); */
    height: var(--height);
    font: 400 11px 'Varela Round', sans-serif;
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 15px;
    width: 100%;
    transition: width .6s ease;
    z-index: 10;
   /*  opacity: 0; */
    cursor: pointer;
    &:focus {
      z-index: 0;
      opacity: 1;
     /*  width: 100%; */
     
    }
  }
 
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.routing {
  text-align: left;

  font-size: 12px;
  margin: 0;
  margin-left: 18px;
  margin-top: 15px;
  color: #9f76cf;
  font-weight: 500;

  a {
    color: #9f76cf;
  }

  ion-icon {
    font-size: 12 px;
    transform: translateY(3px);
  }

  a:last-child {
    color: #1c1c24;
    text-decoration: none;
    cursor: unset;
  }
}



ion-fab[vertical="bottom"][horizontal="end"] ion-fab-list {
  right: 0;
  align-items: flex-end;
}

ion-fab-button[size="small"] {
  --size: 35px;
}

.custom-fab {
  display: flex;
  align-items: center;
}
ion-fab[horizontal="start"] .custom-fab {
  flex-direction: row-reverse;
}
.custom-fab ion-button {
  --background: rgba(0, 0, 0, 0.802);
  --height: 25px;
  text-transform: none;
}